<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="wf-firasans-n4-active wf-active">
	<head>
    {{ block "header" . -}}{{- end }}
	</head>
  <body class="{{- if .Site.Params.themeColor }}{{ .Site.Params.themeColor }}{{ end }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
      {{ partial "sidebar.html" . }}
      <main class="content container">
          {{ block "content" . }}{{ end }}
          <div class="footer">
              {{ block "footer" . }}{{ end }}
          </div>
      </main>
      <!-- Google Analytics -->
      {{ if .Site.GoogleAnalytics -}}
          {{ template "_internal/google_analytics_async.html" . }}
      {{- end }}
  </body>
</html>
