<hr />
<p><small><i>* All comments are moderated and approved manually.</i></small></p>
<div id="graphcomment"></div>
<script type="text/javascript">
  window.graphcomment_id = '{{ .Site.Params.GraphCommentId }}';
  /* - - - DON'T EDIT BELOW THIS LINE - - - */
  (function() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.src = 'https://graphcomment.com/js/integration.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
  })();
</script>
