<article class="post">
  <h1>{{ .Title }}</h1>
  {{ if ne .Params.showpagemeta false }}
  <div class="col-sm-12 col-md-12">
    <span class="text-left subtitle">
      {{ .Params.subtitle }}
    </span>  
  </div>    
  {{ end }}
  {{ .Content }}
</article>
