    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ "<!-- Enable responsiveness on mobile devices -->" | safeHTML }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    {{ with .Site.Params.meta.description -}}<meta name="description" content="{{ . }}">{{- end }}
    {{ with .Site.Params.meta.keywords -}}<meta name="keywords" content="{{.}}">{{- end }}
    {{ .Hugo.Generator }}
    {{ if .IsHome -}}
    <title>{{ .Site.Title }}</title>
    {{- else }}
    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
    {{- end }}
    <meta content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}" property="og:title">
    <meta content="{{ if or (eq $isHomePage false) (ne .Description "") }}{{ .Description }}{{ else }}{{ .Site.Params.meta.description }}{{ end }}" property="og:description">
    <meta content="article" property="og:type">
    <meta content="{{ .Site.Params.shareURL }}{{ .Site.Params.shareImage }}" property="og:image">
    <meta content="{{ .Site.Params.shareURL }}{{ .URL }}" property="og:url">
    {{ "<!-- CSS -->" | safeHTML }}
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i|Roboto+Mono:300,300i,400,400i" rel="stylesheet">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/print.css" media="print">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/poole.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/hyde.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">
    {{ "<!-- Font-Awesome -->" | safeHTML }}
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    {{ if .Site.Params.highlightjs -}}
    {{ "<!-- highlight.js-->" | safeHTML }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/{{ .Site.Params.highlightjsstyle | default "default" }}.min.css">
    {{- end }}
    {{ if .Site.Params.PygmentsUseClasses -}}
    {{ "<!-- Pygments Syntax -->" | safeHTML }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.css">
    {{- end }}
    {{- "<!-- Customised CSS -->" | safeHTML }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom.css">
    {{ `<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->` | safeHTML }}
    <link rel="canonical" href="https:{{ .Site.BaseURL }}" />
    {{ "<!-- Icons -->" | safeHTML }}
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {{ if .RSSLink -}}
    {{ "<!-- RSS -->" | safeHTML }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{- end }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24665429-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-24665429-1');
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" integrity="sha512-AFwxAkWdvxRd9qhYYp1qbeRZj6/iTNmJ2GFwcxsMOzwwTaRwz2a/2TX225Ebcj3whXte1WGQb38cXE5j7ZQw3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
