<aside class="sidebar">
  <section class="container">
    <div class="sidebar-categories">
      <h4>Categories</h4>
      <ul>
        {{- range $name, $items := .Site.Taxonomies.categories }}
        <li><a href="/categories/{{ $name | urlize | lower }}" title="{{ $name | humanize }}">{{ $name | humanize }}</a></li>  
        {{- end }}
      </ul>
    </div>
  </section>
  <section class="container">
    <div class="sidebar-tags">
      <h4>Tags</h4>
      <ul>
        {{- range $name, $items := .Site.Taxonomies.tags }}
        <li><a href="/tags/{{ $name | urlize | lower }}" title="{{ $name | humanize }}">{{ $name | humanize }}</a></li>  
        {{- end }}
      </ul>
    </div>
  </section>
  <section class="container text-center {{ if .Site.Params.sidebarSticky }}sidebar-sticky{{ end }}">
    <div class="sidebar-about text-center">
      <a href="{{ .Site.BaseURL }}">
      {{ with .Site.Params.authorimage }} <img src="{{.}}" alt="Author Image" class="img-circle headshot center"> {{ else }} <h1 class="brand">{{ .Site.Title }}</h1> {{ end }}
      </a>
      <p class="lead">
        {{ with .Site.Params.description }} {{.}} {{ else }} Your site's description {{end}}
      </p>
      <p class="lead">
      </p>
    </div>
    {{ partial "sidebar_menu.html" . }}
    <p>
      {{ partial "sidebar_social.html" . }}
    </p>
    <div class="sidebar-taxonomies text-center">
        <a href="/tags" name="Tags">Tags</a></li>
        <a href="/categories" name="Categories">Categories</a>
      </ul>
    </div>
    <p class="copyright">{{ with .Site.Params.copyright }}{{.|safeHTML}}{{ else }}&copy; {{ now.Format "2006"}} {{.Site.Params.author}}.
      <a href="https://creativecommons.org/licenses/by/4.0">Some Rights Reserved</a>.<br/>Built with <a href="https://gohugo.io/">Hugo</a> &amp; <a href="https://github.com/htr3n/hyde-hyde">hyde-hyde</a>.{{end}}
    </p>
  </section>
</aside>
