{{ define "header" -}}
  {{ partial "header.html" . }}
{{- end }}

{{ define "content" -}}
  <section class="posts">
  {{ range (where .Site.RegularPages "Type" "not in" "[\"about\",\"commentable\"]" ).GroupBy "Section" }}
    {{ range .Pages }}
      <article class="post">
        <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }}<sup><i class="fas fa-pen-square fa-xs"></i></sup>{{ end }}</h1>
        <span class="post-date">
          {{- .Date.Format (.Site.Params.dateformat | default "Jan 02, 2006") -}}
        </span>
        {{ .Summary }}
        {{ if .Truncated }}
        <div class="read-more-link">
            <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{ end }}
        </article>
     {{- end -}}
  {{- end }}
  </section>
{{- end }}

{{ define "footer" -}}
{{- end }}
